## secrets / environment overrides for "mongo-config.edn"
##
## docker --env-file format: KEY=value, no quotes, no shell expansion
## "__" is a nesting level, a single "_" becomes a "-":
##   SOURCES__COSMOS_MONGO__CONNECTION__AUTH_SOURCE => [:sources :cosmos-mongo :connection :auth-source]

SOURCES__COSMOS_MONGO__CONNECTION__URL=mongodb+srv://cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&tls=true
SOURCES__COSMOS_MONGO__CONNECTION__USER=astro_reader
SOURCES__COSMOS_MONGO__CONNECTION__PASSWORD=super-secret
SOURCES__COSMOS_MONGO__CONNECTION__DATABASE=cosmos
SOURCES__COSMOS_MONGO__CONNECTION__AUTH_SOURCE=admin
## behind a private ca? point at the pem (the mongo java driver ignores a "tlsCAFile" in the url)
# SOURCES__COSMOS_MONGO__CONNECTION__TLS_CA_FILE=/opt/app/baymax/root-ca.pem
